@model IPagedList<Match>


<table class="table table-striped" style="background-color: whitesmoke;">
    <tr class="bg-dark text-white">
        <th style="width: 25%;">Game</th>
        <th style="width: 30%;"></th>
        <th style="width: 25%;">Begins At</th>
    </tr>
    @foreach (var match in Model)
    {
        <tr>
            <td>
                @if (match.Videogame.Name == "LoL")
                {
                    <span style="font-weight: bold">League Of Legends</span>
                }
                else
                {
                    <span style="font-weight: bold">@match.Videogame.Name</span>
                }
                <br />
                <span>@match.League.Name</span>
            </td>
            <td>@match.Name</td>
            <td>
                <span>@match.BeginAt.ToString("dd MMMM ", CultureInfo.CreateSpecificCulture("en-US"))</span>
                <br />
                <span style="font-weight: bolder">@match.BeginAt.ToString("H:mm", CultureInfo.CreateSpecificCulture("en-US"))</span>
            </td>

        </tr>
    }
</table>
