@model IPagedList<Match>

@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="row d-flex justify-content-center">
    <h1 class="text-center">Welcome to Esport Events Center</h1>
    <p class="text-center">Here you can check every incoming Esport event of LoL, Dota 2, CS:GO and Overwatch!</p>
</div>
<br />
<div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-lg-9">
        <div class="row d-flex justify-content-center">
            <a asp-route-game="@ViewBag.Game" asp-route-timePeriod="past" class="btn btn-info btn-sharp col-sm-4 col-lg-3 @(ViewBag.TimePeriod == "past" ? "active" : "")" role="button">Past Matches</a>
            <a asp-route-game="@ViewBag.Game" asp-route-timePeriod="upcoming" class="btn btn-info btn-sharp col-sm-4 col-lg-3 @(ViewBag.TimePeriod == "upcoming" || ViewBag.TimePeriod == null ? "active" : "")" role="button">Upcoming Matches</a>
        </div>
        <div class="row d-flex justify-content-between align-content-stretch">
            <a asp-route-game="" asp-route-timePeriod="@ViewBag.TimePeriod" class="btn btn-primary btn-sharp col-sm-1 col-lg-1 @(ViewBag.Game == null ? "active" : "")" role="button">All</a>
            <a asp-route-game="lol" asp-route-timePeriod="@ViewBag.TimePeriod" class="btn btn-primary btn-sharp col-sm-4 col-lg-3 @(ViewBag.Game == "lol" ? "active" : "")" role="button">League of Legends</a>
            <a asp-route-game="dota2" asp-route-timePeriod="@ViewBag.TimePeriod" class="btn btn-primary btn-sharp col-sm-2 col-lg-2 @(ViewBag.Game == "dota2" ? "active" : "")" role="button">Dota 2</a>
            <a asp-route-game="csgo" asp-route-timePeriod="@ViewBag.TimePeriod" class="btn btn-primary btn-sharp col-sm-2 col-lg-3 @(ViewBag.Game == "csgo" ? "active" : "")" role="button">CS:GO</a>
            <a asp-route-game="ow" asp-route-timePeriod="@ViewBag.TimePeriod" class="btn btn-primary btn-sharp col-sm-3 col-lg-3 @(ViewBag.Game == "ow" ? "active" : "")" role="button">Overwatch</a>
        </div>
        <div class="row">
            <partial name="_CalendarTablePartial" />
        </div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase {
        UlElementClasses = new string[] { " pagination justify-content-center" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
    </div>
</div>


